@model InventoryApplication.Models.InventoryTransfer

@{
    ViewData["Title"] = "Створити";
}

<h1 class="h4">Створити акт переміщення обладнання</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Inventories" class="form-label"></label>
                <select asp-for="Inventories" class="form-select" asp-items="ViewBag.InventoryId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="OperationId" class="form-label"></label>
                <select asp-for="OperationId" class="form-select" asp-items="ViewBag.OperationId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="DepartmentId" class="form-label"></label>
                <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.DepartmentId"></select>
            </div>
            <div class="mb-3">
                <label asp-for="DepartmentResponsibleEmployeeId" class="form-label"></label>
                <select asp-for="DepartmentResponsibleEmployeeId" class="form-select" asp-items="ViewBag.DepartmentResponsibleEmployeeId"></select>
            </div>
            <div class="mb-4">
                <label asp-for="SignatoryId" class="form-label"></label>
                <select asp-for="SignatoryId" class="form-select" asp-items="ViewBag.SignatoryId"></select>
            </div>
            <div class="mb-3">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <nav class="nav">
        <a class="nav-link" asp-action="Index">Повернутися до списку</a>
    </nav>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
