@model InventoryApplication.Models.Inventory

@{
    ViewData["Title"] = "Деталі";
}

<h1 class="h4">Детально про обладнання</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<nav class="nav">
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a>
    <a class="nav-link" asp-action="Index">Повернутися до списку</a>
</nav>
