@model InventoryApplication.Models.Department

@{
    ViewData["Title"] = "Видалити";
}

<h1 class="h4">Видалити відділ</h1>

<div class="alert alert-danger">Ви впевнені, що хочете видалити цей запис? Всі пов'язані записи також будуть видалені.</div>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibleEmployee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleEmployee.FirstName)
        </dd>
    </dl>

    <form asp-action="Delete" class="d-flex">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <nav class="nav">
            <a class="nav-link" asp-action="Index">Повернутися до списку</a>
        </nav>
    </form>
</div>
